.list2 {
	padding: 30px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	margin: 0 auto;
	grid-template-columns: repeat(5, minmax(0, 1fr));
    display: grid;
    gap: 30px;
    max-width: inherit;
}
.list2 .items {
	padding: 24px;
}
.list2 .image-9-icon13 {
	max-width: inherit;
	width: 100%;
}
.list2 .image-wrapper1 {
	padding: 0;
}
.diamond {
	width: 100%;
	position: relative;
	background-color: var(--white);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: normal;
	letter-spacing: normal;
}
.itemnofound {
	flex: 1 1 315px;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	flex-shrink: 0;
	/* display: flex; */
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: var(--padding-13xl) var(--padding-xl) var(--padding-33xl-3) var(--padding-5xl);
	box-sizing: border-box;
	gap: var(--gap-45xl-3);
	max-width: 100%;
	text-align: left;
	font-size: var(--h3-size);
	color: #000;
	font-family: var(--h4);
}
@media screen and (min-width: 826px) and (max-width: 1440px) {
	.list2 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}
@media screen and (max-width: 825px) {
	.list2 {
		height: auto;
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
@media screen and (max-width: 480px) {
	.list2 {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}