.nunc-mi-morbi {
  width: 536px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.request-sent {
  width: 100%;
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-45xl)
    var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--body-font-size);
  color: var(--grey);
  font-family: var(--body-font-family);
}

@media screen and (max-width: 825px) {
  .request-sent {
    gap: var(--gap-base);
  }
}
