.settings > div {
  padding: 0 20px;
}
.settings .settings-founded,  .settings .filters-setting {
  padding-left: 10px;
}
.setting-product-list {
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  /* align-items: flex-start; */
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  gap: 24px 22.7px;
  margin: 30px;
}
.setting-product-list .settings {
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
.loaderpopup{
  background-color: transparent;
  border-radius: 0%;
  box-shadow: none;
  z-index:9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: 31%; */
 /* position: absolute;*/
  height: 100%;
    margin-top: auto;

}
.setting-product-list .loaderpopup .popup-content{
  overflow-y: hidden;
}
.loader{
  width:200px;
  height:200px;
}
@media(min-width: 768px) and (max-width: 1080px) {

  .setting-product-list {
    margin: 15px;
  }
}
/* SKELTON */