.div31 {
  position: relative;
  display: inline-block;
  min-width: 63px;
}
.ct {
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-xs) var(--padding-9xs);
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--body-14-reg-size);
  color: var(--white);
  font-family: var(--body-14-reg);
}
