.image-icon4 {
	height: 84px;
	width: 84px;
	position: relative;
	border-radius: var(--br-xl);
	object-fit: cover;
}
.princess-1001-carath3 {
	position: relative;
	line-height: 120%;
}
.diamond-weight-type {
	position: relative;
	font-size: var(--body-font-size);
	display: inline-block;
	font-family: var(--body-font-family);
	text-align: center;
}
.name2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: var(--gap-6xs);
}
.diamond-details4 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: var(--gap-6xl);
	max-width: 100%;
	font-size: var(--h4-size);
	font-family: var(--h4);
}
.union-icon {
	height: 20px;
	width: 20px;
	position: relative;
	min-height: 20px;
}
.princess1 {
	position: relative;
	display: inline-block;
	min-width: 59px;
}
.img {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: var(--padding-xl) 0px;
	gap: var(--gap-smi);
}
/* .diamond-carat-value {
	position: relative;
	display: inline-block;
	min-width: 35px;
}
.carat2 {
	position: relative;
	color: var(--grey);
	display: inline-block;
	min-width: 36px;
} */
.diamond-carat-info {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	gap: var(--gap-9xs);
	flex-wrap: wrap;
}
.d1 {
	position: relative;
	display: inline-block;
	min-width: 10px;
}
.color3 {
	position: relative;
	color: var(--grey);
	display: inline-block;
	min-width: 35px;
}
.cell {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: var(--padding-xl) 0px;
	gap: var(--gap-9xs);
}
.vvs11 {
	position: relative;
	display: inline-block;
	/* min-width: 34px; */
}

.diamond-table-value {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: var(--gap-9xs);
}
.polish4 {
	position: relative;
	color: var(--grey);
	display: inline-block;
	min-width: 39px;
}
.diamond-measurement-value {
	width: 0px;
	height: 19px;
	position: relative;
	display: inline-block;
}
.cell4 {
	width: 0px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: var(--padding-xl) 0px;
	box-sizing: border-box;
	color: var(--grey);
}
.x371x2322 {
	position: relative;
	display: inline-block;
	min-width: 101px;
}
.measurement2 {
	position: relative;
	color: var(--grey);
	text-align: center;
	display: inline-block;
	min-width: 90px;
}
.diamond-card-action {
	position: relative;
	display: inline-block;
	min-width: 6px;
}
/* .intensity1 {
	position: relative;
	color: var(--grey);
	display: inline-block;
	min-width: 57px;
} */
.video-icon {
	height: 15.1px;
	width: 24px;
	position: relative;
}
.actions4 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: var(--padding-smi-4) var(--padding-5xs) var(--padding-smi-5);
	box-sizing: border-box;
	width: 40px;
	height: 40px;
}
.compare-icon {
	height: 40px;
	width: 40px;
	position: relative;
	overflow: hidden;
	flex-shrink: 0;
}
.actions5 {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}
.button-item {
	position: relative;
	object-fit: contain;
}
.button25 {
	height: 40px;
	width: 40px;
	border-radius: var(--br-37xl);
	background-color: var(--accent);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0;
	box-sizing: border-box;
}
.actions3 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	padding: var(--padding-xl) 0px;
	gap: 5px;
	margin-left: auto;
}
.diamond-card-details {
	align-self: stretch;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	max-width: 100%;
	gap: var(--gap-xl);
	flex-wrap: wrap;
}
.diamond-card-details .f_50 {
	/* width: 50px; */
}
.show--more-diamond_info,
.list-diamond--video,
.compare-list--diamond {
	cursor: pointer;
}
.diamond-list-header {
	/* width: 1680px; */
	width: 100%;
	border-radius: var(--br-xl);
	background-color: var(--beige-01);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: var(--padding-base);
	box-sizing: border-box;
	max-width: 100%;
	text-align: left;
	font-size: var(--body-font-size);
	color: var(--black);
	font-family: var(--body-font-family);
}
@media screen and (min-width: 826px) {
	.diamond-card-details {
		flex-wrap: wrap;
	}
	.ddl_list {
        flex-grow: 0;
        flex-shrink: 0;
	}
	.ddl_w100 {
		max-width: 100px;
		flex-basis: 100px;
		width: 100%;
	}
	.ddl_w150 {
		max-width: 150px;
		flex-basis: 150px;
		width: 100%;
	}
	.ddl_w400 {
		max-width: 400px;
		flex-basis: 400px;
		width: 100%;
	}
	.ddl_w200 {
		max-width: 200px;
		flex-basis: 200px;
		width: 100%;
	}
	.ddl_w250 {
		max-width: 250px;
		flex-basis: 250px;
		width: 100%;
	}
	.ddl_w300 {
		max-width: 300px;
		flex-basis: 300px;
		width: 100%;
	}
}

@media screen and (max-width: 825px) {
	.diamond-list-header .diamond-card-details {
		position: relative;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 10px;
	}
	.cell {
		width: 100%;
		gap: 10px;
		max-width: 29%;
		padding: 10px 0 0;
	}
	.cell4 {
		display: none;
	}
	.diamond-list-header .diamond-details4 {
		flex-wrap: wrap;
		width: 100%;
		flex-direction: column;
		justify-content: flex-start;
		align-items: baseline;
	}
	.diamond-list-header .diamond-weight-type {
		text-align: left;
	}
	.diamond-list-header .actions3 {
		position: absolute;
		top: 0;
		right: 0;
	}
	.diamond-list-header .img {
		border-top: 1px solid var(--boderColor10);
		border-bottom: 1px solid var(--boderColor10);
		width: 100%;
	}
	.list5 .diamond-expand-detail-wrapper .diamond-details {
		padding: 0;
		flex-direction: column;
	}
	.filters-wrapper .cutClarityColor  .dropdown-content {
		display: grid;
		grid-template-columns: repeat(5, minmax(0, 1fr));
		border-radius: 0;
	}
	.filters-wrapper .cutClarityColor  .dropdown-content .dropdown-btns .option--btn.active--item {
		border-radius: 0;
	}
}
@media screen and (max-width: 650px) { 
	.diamond-list-header .diamond-carat-info,
	.diamond-list-header .diamond-table-value {
		flex-direction: column;
		align-items: flex-start;
	}
}
@media screen and (max-width: 450px) {
	.princess-1001-carath3 {
		font-size: var(--buttom-size);
		line-height: 19px;
	}
	.list5 .diamond-expand-detail-wrapper .measurement-labels, .list5 .diamond-expand-detail-wrapper .measurement-labels1, .list5 .diamond-expand-detail-wrapper .measurement-labels2 {
		flex: 1;
		padding: var(--padding-xl);
		min-height: 100px;
	}
}