.drop-hint-popup {
	background-color: #ffffff;
	border-radius: 12px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
	/* padding: 24px; */
	max-width: 600px !important;
	width: 100%;
	font-family: inherit;
	position: relative;
	h2 {
		padding: 0px;
		margin: 0;
	}
	.popup-content {
		position: relative;
		p {
			margin: 0;
		}
	}
	hr.hr {
        border-color: #EEEDEC;
        opacity: 1;
        margin-top: 5px;
        margin-bottom: 15px;
        height: 1px;
	}
	
}
.form-group {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
	input,
	textarea {
		border: 1px solid #E4E3E1;
		border-radius: 40px;
		font-family: inherit;
		font-size: 14px;
	}
	input {
		height: 40px;
		padding: 0 10px;
		width: 100%;
	}
}
.drop-hint-popup .form-group.input-group input {
	width: 48%;
	padding-left: 1%;
	padding-right: 1%;
}
.drop-hint-popup input[name="gift_reason"] {
    width: auto;
}
.form-group textarea {
	min-height: 125px;
	padding-top: 20px;
	padding-left: 20px;
}

.flex-col {
	flex-direction: column;
}

.flex-50 {
	display: flex;
}

.drop-hint-popup .gift-deadline {
	flex: 1;
}

.drop-hint-popup .gift-deadline .calendar-icon {
	width: 20px;
	height: 20px;
	margin-left: 8px;
	border-radius: 40px;
}

.drop-hint-popup button {
	/* background-color: var(--accent);
	color: white;
	border: none;
	border-radius: 40px;
	padding: 12px 24px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	width: 100%;
	transition: background-color 0.3s ease;
	flex: 1 1 50%;
	font-family: Manrope; */
}

.drop-hint-popup .close-button {
	position: absolute;
    top: 26px;
    right: 30px;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    width: 32px;
    height: 32px;
    padding: 0;
	&::before {
		content: "";
		display: inline-block;
		background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_502_2509)'%3E%3Cpath d='M22.848 9.89685L22.8269 9.9179C22.6637 10.089 22.49 10.2548 22.3216 10.4232L16.7448 16L22.848 22.1032C23.0559 22.3111 23.0401 22.6374 22.848 22.848C22.6558 23.0585 22.2979 23.0427 22.1032 22.848L22.0821 22.8269C21.911 22.6637 21.7452 22.49 21.5768 22.3216L16 16.7448L9.89685 22.848C9.68893 23.0559 9.36259 23.0401 9.15204 22.848C8.9415 22.6558 8.95729 22.2979 9.15204 22.1032L9.1731 22.0821C9.33627 21.911 9.50997 21.7452 9.6784 21.5768L15.2552 16L9.15204 9.89685C8.94413 9.68893 8.95992 9.36259 9.15204 9.15204C9.34417 8.9415 9.70209 8.95729 9.89685 9.15204L9.9179 9.1731C10.089 9.33627 10.2548 9.50997 10.4232 9.6784L16 15.2552L22.1032 9.15204C22.3111 8.94413 22.6374 8.95992 22.848 9.15204C23.0585 9.34417 23.0427 9.69946 22.848 9.89685Z' fill='%236A665E'/%3E%3Ccircle cx='16' cy='16' r='15.75' stroke='%236A665E' stroke-width='0.5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_502_2509'%3E%3Crect width='32' height='32' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		width: 32px;
		height: 32px;
		background-color: transparent;
	}
}

/* FORM ERRORS */
.drop-hint-popup .error {
	border: 1px solid red;
}

.drop-hint-popup .error::placeholder {
	color: red;
}

.drop-hint-popup .error:-ms-input-placeholder {
	color: red;
}

.drop-hint-popup .error::-ms-input-placeholder {
	color: red;
}

.drop-hint-popup input[type="date"].error::-webkit-datetime-edit {
	color: red;
}

.drop-hint-popup input[type="date"].error::-moz-placeholder {
	color: red;
}