.portalPopupOverlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}
.portalPopupOverlay section {
  position: unset;
}
.portalPopupOverlay .dealer-info {
  height: auto;
  padding: 50px;
  max-width: 500px !important;
}