.requestInfopopup-overlay .request_infocta .preferences {
  display: flex;
  gap: 16px;
}
.request_infocta .schduleb .preferences {
  display: inline;
  gap: 0;
}
.request_infocta .preferences label {
  display: flex;
  align-items: center;
}

.request_infocta .preferences input[type="radio"] {
  margin-right: 8px;
  width: auto;
}

.flex-cta .availability {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
}

.flex-cta {
  align-items: center;
}

.flex-cta button {
  /* height: 52px; */
  flex: 1;
}

.flex {
  gap: 10px;
}

.requestInfopopup-overlay .preference_val {
  display: flex;
  gap: 5px;
  align-items: flex-start;
}

.requestInfopopup-overlay .preference_val label {
  cursor: pointer;
}

.request_infocta .preferences .preference_val input[type="radio"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: #8e6962;
}

/* Validation errors css styles */
.error {
  border: 1px solid #b00;
}

.error::placeholder {
  color: #b00;
}

/* For older browsers */
.error:-ms-input-placeholder {
  color: #b00;
}

.error::-ms-input-placeholder {
  color: #b00;
}

.error-message {
  color: #b00;
  font-size: 0.8em;
  margin-top: 5px;
}

/* Style for radio buttons in error state */
.error-radio {
  color: #b00;
}

input.error, textarea.error {
  border: 1px solid #b00;
}

@media screen and (max-width: 825px) {
  .flex-cta button {
    width: 100%;
  }
  .requestInfopopup-overlay .flex-cta button {
    margin-top: 20px;
  }
}