.ring-specs-popup .popup-content>* {
	flex: 1;
}
.diamonds_info {
	width: 100%;
}
.settings_info {
	width: 100%;
	border-bottom: 1px solid #EEEDEC;
	padding: 0 0 var(--padding-xl);
}
.ring-specs-popup h3 {
	
}
.ring-specs-popup .diamond-shapes {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	margin-top: 16px;
}
.ring-specs-popup .diamond-shape {
	width: 40px;
	height: 40px;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ring-specs-popup .setting-details {
	border-radius: 0;
}
.ring-specs-popup .setting-details .side-diamond-details {
	border-bottom: 1px solid var(--divider);
	padding: var(--gap-6xl) 0;
}
.ring-specs-popup .setting-details p {
	margin: 0 20px 5px 0;
	display: inline-block;
}
.ring-specs-popup .setting-details .can-be-set-with-box p {
	margin: 0;
}
.ring-specs-popup .setting-details h3,
.ring-specs-popup .setting-details p b {
	color: var(--black);
	margin-top: 0;
}
.ring-specs-popup .setting-details p:last-child {
	margin-right: 0;
}
.ring-specs-popup .setting-details .can-be-set-with {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--gap-3xs);
	padding: var(--gap-6xl) 0 var(--gap-3xs);
}
.ring-specs-popup .diamond-shape img {
	width: 24px;
	height: 24px;
}
.hr {
	background: #3c2a2a00;
	width: 100%;
	opacity: 0.2;
	margin-top: 0;
	margin-bottom: 0;
}
/* Responsive adjustments */
@media screen and (min-width: 826px) {
	.ring-specs-popup .setting-details .can-be-set-with {
		display: flex;
		gap: 10px;
	}
}
@media screen and (max-width: 825px) {
	.ring-specs-popup .setting-details .can-be-set-with {
		flex-direction: column;
		align-items: flex-start;
	}
}
@media (max-width: 480px) {
	.ring-specs-popup .diamond-shape {
		width: 36px;
		height: 36px;
	}
	.ring-specs-popup .diamond-shape img {
		width: 20px;
		height: 20px;
	}
}