.rb_listtop_panel {
	display: flex;
	/* align-items: center; */
	justify-content: space-between;
	max-width: 100%;
	width: 100%;
}
.rb_setting_b {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: var(--gap-xs);
	max-width: 540px;
	width: 100%;
}
.rb_setting_c {
	text-transform: uppercase;
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	line-height: 16.39px;
	letter-spacing: 0.08em;
	text-align: left;
	color: var(--accent);
}
.rb_setting_heading {
	font-family: var(--h4);
	font-size: var(--h1-size);
	font-weight: 700;
	line-height: 48px;
	text-align: left;
	color: var(--black);
}
.rb_setting_desc {
	font-family: var(--body-font-family);
	font-size: var(--body-font-size);
	font-weight: 500;
	text-align: left;
}
.home3 {
	position: relative;
	display: inline-block;
	min-width: 38px;
}

.bread-child {
	height: 5px;
	width: 2.5px;
	position: relative;
}

.create-ring3 {
	position: relative;
	display: inline-block;
	min-width: 76px;
	white-space: nowrap;
}

.choose-setting2 {
	position: relative;
	display: inline-block;
	color: var(--black);
	min-width: 106px;
	white-space: nowrap;
}

.settings-breadcrumb {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: var(--gap-xs);
	top: 0;
	z-index: 99;
	position: sticky;
}

.step-12 {
	position: relative;
	letter-spacing: 0.08em;
	line-height: 16.8px;
	text-transform: uppercase;
	display: inline-block;
	min-width: 44px;
	color: var(--accent)
}

.step-title {
	position: relative;
	font-size: var(--h4-size);
	line-height: 120%;
	font-family: var(--h4);
	color: var(--backgroundtext);
	font-weight: 700;
}

.settings-steps-details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: var(--gap-9xs);
	color: var(--backgroundmenutext);
}

.image-9-icon14 {
	position: absolute;
	top: calc(50% - 26.3px);
	left: calc(50% - 29px);
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: none;
}

.frame-icon5 {
	position: absolute;
	top: 14px;
	left: 10px;
	width: 32px;
	height: 23.2px;
	overflow: hidden;
}

.div109 {
    height: 52px;
    width: 52px;
    position: relative;
    border-radius: var(--br-base);
    background-color: var(--beige-00);
    border: 1px solid var(--beige-00);
    box-sizing: border-box;
    flex-shrink: 0;
    overflow: hidden;
    display: inline-block;
}
.settings-steps .div109.div1024_ring {
	background-color: var(--accent);
}
.mined2 {
	position: relative;
	display: inline-block;
	width: max-content;
	text-align: center;
}

.i22 {
	position: relative;
	width: 10px;
	z-index: 999999;
	height: 10px;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.separator {
	height: 18px;
	width: 18px;
	margin: 0 !important;
	position: absolute;
	top: -7px;
	left: 5px;
	border-radius: var(--br-21xl);
	background-color: var(--rb-custom18);
	border: 1px solid var(--white);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: var(--padding-11xs) var(--padding-7xs);
	font-size: var(--m-sub-size);
	color: var(--black);
	font-family: var(--font-inter);
}

.mined-settings.active,
.lab-settings.active {
	background-color: var(--menus-background);
	color: var(--backgroundmenutext);
}
.lab-settings.active .lab-growned2 {
    color: #FFF;
}
.lab-growned2 {
	position: relative;
	display: inline-block;
	width: max-content;
	text-align: center;
	color: var(--notselectedmenucolor);
}

.lab-settings,
.mined-settings {
	border-radius: var(--br-21xl);
	border: 1px solid var(--colorbeige);
	padding: 8px 30px;
	line-height: 22px;
	color: var(--notselectedmenucolor);
	cursor: pointer;
	position: relative;
}
.lab-settings .separator,
.mined-settings .separator {
	background-color: var(--rb-custom18);
}
.mined-lab-wrapper {
	max-width: 400px;
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: var(--gap-xs);
	text-align: center;
	font-size: var(--body-font-size);
	margin-top: 15px;
}

.lab-settings:has(.active) .lab-settings {
	background-color: red;
}
.create-your-own3 {	
	color: var(--backgroundtext);
}
.settings-desc {	
	color: var(--notselectedmenucolor);
}
@media screen and (min-width: 1370px) and (max-width: 1440px) {
	.rb_listtop_panel {
		flex-wrap: wrap;
		display: block;
	}
	.rb_setting_b {
		max-width: inherit;
		margin-bottom: 30px;
	}
}
@media screen and (max-width: 1275px) {
	.create-your-own3 {
		font-size: var(--h2-size);
		line-height: 39px;
	}
	.rb_listtop_panel {
		flex-wrap: wrap;
		display: block;
	}
	.rb_setting_b {
		max-width: inherit;
		margin-bottom: 30px;
	}
}
@media screen and (max-width: 825px) {
	.mined-lab-wrapper {
		margin-top: 25px;
	}
}