/* SettingsFilterPanel.css */
.SettingsFilterPanel {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--h2-size);
  color: var(--black);
  font-family: var(--h4);
}

.list-header {
  width: 1680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
  max-width: 100%;
}

.settingfilter-top {
  align-self: stretch;
  border-bottom: 1px solid var(--stroke);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px var(--padding-lg);
  gap: var(--gap-xl);
  max-width: 100%;
}

.settings-founded {
  position: relative;
  line-height: 110%;
  display: inline-block;
  max-width: 100%;
}

.settings-sort,
.settings-sort-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--body-14-reg-size);
  color: var(--grey);
  font-family: var(--body-14-reg);
}

.settings-sort {
  gap: var(--gap-6xl);
}

.sort-by4,
.show7 {
  position: relative;
  display: inline-block;
  min-width: 50px;
}

.low-to-high,
.per-page3 {
  position: relative;
  display: inline-block;
  color: var(--black);
  min-width: 79px;
}

.filters-setting {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  font-size: var(--body-14-reg-size);
  color: var(--grey);
  font-family: var(--body-14-reg);
}

.mid2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-11xs-5) 0px;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}

.filters9,
.filter-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}

.filters9 {
  max-width: 740px;
  width: 100%;
}

.filters-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs-5) 0px 0px;
}

.filters-label {
  font-weight: 500;
  color: var(--grey);
}

.filter-dropdown {
  position: relative;
}

.filter-button {
  border-radius: var(--br-21xl);
  border: 1px solid var(--beige-04);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-lgi);
  gap: var(--gap-xs);
  cursor: pointer;
  background: none;
  font-size: var(--body-14-reg-size);
  color: var (--black);
  position: relative;
}

.filter-button.active {
  border-color: var(--accent);
}

.filter-label {
  font-weight: 500;
}

.filter-count {
  position: absolute;
  top: -11.5px;
  right: -11px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--accent);
  border: 1px solid var(--white);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 12px;
  font-weight: bold;
}

.filter-options {
  background-color: var(--white);
  margin-top: 5px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.filter-option {
  padding: var(--padding-3xs) var(--padding-xs);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-option:hover {
  background-color: var(--beige-01);
}

.filter-option.active {
  background-color: var(--beige-02);
  font-weight: 500;
  display: flex;
}

.actions13 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-5xs);
  gap: var(--gap-lgi);
}

.button30,
.button31 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button30 {
  background-color: var(--accent);
  color: var(--white);
  border: none;
}

.button31 {
  background: none;
  border: 1px solid var(--accent);
  color: var(--accent);
}

.search6 {
  max-width: 350px;
  border-radius: var(--br-21xl);
  border: 1px solid var(--stroke);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-xl);
  gap: var(--gap-3xs);
  width: 100%;
}

.search7 {
  border: none;
  outline: none;
  font-size: var(--body-14-reg-size);
  color: var(--black);
  background: none;
  flex: 1;
}

.filter-options-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl);
  width: 100%;
  position: relative;
  margin-top: 25px;
}

.filter-options-fullwidth {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-base);
  width: 100%;
}


@media screen and (max-width: 1275px) {
  .settings-founded {
    font-size: var(--font-size-7xl);
    line-height: 28px;
  }

  .settingfilter-top {
    flex-wrap: wrap;
  }

  .filters9 {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 825px) {
  .settings-founded {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }

  .filter-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 450px) {
  .mid2 {
    flex-wrap: wrap;
  }
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-base);
  width: 100%;
  position: relative;
}

.filter-dropdown {
  position: relative;
}

.filter-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-3xs);
  cursor: pointer;
  /* width: 80px;
  height: 80px; */
  border-radius: var(--br-xs);
  flex-wrap: nowrap;
}

.filter-option:hover {
  background-color: var(--beige-01);
}

.filter-option.active {
  background-color: var(--beige-02);
}

.filter-option-icon {
  width: 60px;
  height: auto;
  margin-bottom: var(--padding-3xs);
}

.price-slider {
  width: 100%;
  padding: var(--padding-xs);
}
.noCursor{
  cursor:default;
}
.spaceInbetween{
  margin-right: 5px;
  margin-left: 5px;
}
.price-slider input[type="range"] {
  width: 100%;
  margin-bottom: var(--padding-3xs);
}

.price-range {
  display: flex;
  justify-content: space-between;
}

.actions13 {
  display: flex;
  gap: var(--gap-3xs);
}

.filter-option span {
  font-size: 14px;
  color: #6A665E;
  font-family: 'manrope', sans-serif;
}

.filter-option svg {
  width: 40px;
  height: 40px;
}

.filter-option.active svg:first-child {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
}

/* FILTER INFO i */
.filter-info {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}

.filter-info-popup {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 300px;
}

.active__filter {
  background-color: var(--accent);
  color: var(--white);
  padding: var(--gap-smi);
  border-radius: 60px;
  width: 100%;
  cursor: pointer;
}